In [1]:
import data
import importlib
importlib.reload(data)

In [2]:
TA_BLACKLIST = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-(\')/[]♪/%#$&\/_"{.}|=<>@~`'
EN_BLACKLIST = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ"#""$%&\()*+-./:;<=>@[\\]^_`♪{|}~='

In [3]:
def readfile(filename):
    return open(filename,encoding='utf-8').read().split('\n')[:-1]

# loading from raw data

In [4]:
en_sen=[]
for i in range(1,6):
    file=readfile('en%d'%i)
    print(len(file))
    for i in range(len(file)):
        en_sen.append(file[i])

1000
166871
2000
32417
21397

In [5]:
en_sen[0]

'Now the sons of Saul were Jonathan, and Ishui, and Melchishua: and the names of his two daughters were these; the name of the firstborn Merab, and the name of the younger Michal:'

In [6]:
ta_sen=[]
for i in range(1,6):
    file=readfile('ta%d'%i)
    print(len(file))
    for i in range(len(file)):
        ta_sen.append(file[i])

1000
166871
2000
32417
21397

# Clean and filter

In [7]:
en_lines = [ line.lower() for line in en_sen]

ta_lines = [ data.filter_line(line, TA_BLACKLIST) for line in ta_sen ]
en_lines = [ data.filter_line(line, EN_BLACKLIST) for line in en_lines ]

ta_lines = [ " ".join(line.split())+' .' for line in ta_lines ]
en_lines = [ " ".join(line.split())+' .' for line in en_lines ]

In [8]:
len(en_lines)

223685

In [9]:
ta_lines, en_lines = data.filter_data(ta_lines, en_lines)

8% filtered from original data

In [10]:
len(en_lines)

204899

In [11]:
#new_en=[]
#new_ta=[]
#for i,j in zip(en_sen,ta_sen):
 #   i=i.split()
  #  j=j.split()
   # if len(i)>=2 and len(j)>=2:
    #    new_en.append(" ".join(i))
     #   new_ta.append(" ".join(j))

In [49]:
def save_clean_sentences(sentences1,sentences2,filename1,filename2):
    file1 = open(filename1, 'w',encoding='utf-8')
    file2 = open(filename2, 'w',encoding='utf-8')
    for i,j in zip(sentences1,sentences2):
        file1.write("%s\n" % i)
        file2.write("%s\n" % j)

In [13]:
save_clean_sentences(en_lines,ta_lines,"endata.txt","tadata.txt")

In [14]:
file1=readfile('endata.txt')
file2=readfile('tadata.txt')

# Removing Duplicates

In [15]:
mix=[]
for i,j in zip(file1,file2):
    mix.append(i+"*|*"+j)

In [16]:
len(mix)

204899

In [17]:
mix=list(set(mix))

In [18]:
len(mix)

187189

In [20]:
en_data=[]
ta_data=[]
for i in mix:
    i=i.split("*|*")
    en_data.append(i[0])
    ta_data.append(i[1])

## Removing same source with different translation and same translation with different source

In [21]:
from collections import Counter

In [22]:
a=Counter(en_data)

In [23]:
remove=[]
for i,j in a.items():
    if j>1:
        remove.append(i)

In [24]:
en_data2=[]
ta_data2=[]
for i in range(len(en_data)):
    if en_data[i] not in remove:
        en_data2.append(en_data[i])
        ta_data2.append(ta_data[i])

In [25]:
len(en_data2)

186714

In [26]:
b=Counter(ta_data2)

In [27]:
remove2=[]
for i,j in b.items():
    if j>1:
        remove2.append(i)

In [28]:
len(remove2)

71

In [29]:
en_data3=[]
ta_data3=[]
for i in range(len(ta_data2)):
    if ta_data2[i] not in remove2:
        en_data3.append(en_data2[i])
        ta_data3.append(ta_data2[i])

In [30]:
len(en_data3)

186451

In [160]:
save_clean_sentences(en_data3,ta_data3,"clean.unique.en","clean.unique.ta")

## Adjusting remaining puctuation

In [34]:
new1=[]
new2=[]
for i in ta_data3:
    i=i.replace(',',' ,')
    i=i.replace('!',' !')
    i=i.replace('?',' ?')
    new1.append(i)
for i in en_data3:
    i=i.replace(',',' ,')
    i=i.replace('!',' !')
    i=i.replace('?',' ?')
    new2.append(i)
ta_data3=new1
en_data3=new2

In [36]:
ta_data3[0:10]

['ராஜாவாகிய ஆகாஸ் அரசாளும்போது தம்முடைய பாதகத்தினால் எறிந்துபோட்ட சகல பணிமுட்டுகளையும் முஸ்திப்பாக்கிப் பரிசுத்தம்பண்ணினோம்; இதோ , அவைகள் கர்த்தரின் ஆலயத்திற்கு முன்பாக இருக்கிறது என்றார்கள் .',
 'சர்வதேச நாணய நிதியம் இலங்கைக்கு கடன் வழங்கினால் இதே போன்ற நிபந்தனைகள் திணிக்கப்படும் .',
 'தற்போது அதற்கு எதிராக வாதாடுகிறார் சர்வதேச சட்டத்தை செயல்படுத்துவதற்குப் பதிலாக புதிய சட்டம் உருவாக்கப்பட்டு நிறுவப்பட வேண்டும் என்று எழுதுகிறார் .',
 'அமெரிக்காவின் மூன்றாம் பெரிய கார் தயாரிப்பு நிறுவனமான கிறைஸ்லர் வியாழனன்று நியூ யோர்க்கில் திவாலடைந்ததற்காக மனு செய்தது; அத்தியாயம் 11 ன் படி மறு சீரமைத்து வெளிவரும் வரை அது தன்னுடைய உற்பத்தி நிலையங்களை மூடும் என்றும் அறிவித்துள்ளது .',
 'மேலும் இனைவிட்டு தலிபானால் வெளியேற்றப்பட்ட 1995 இல் இருந்து ஈரானில் கூடுதலாக வாழ்ந்துவந்துள்ளார் .',
 'நீங்கள் உங்கள் அடுத்த பதவி உயர்வு பெற வேண்டும் .',
 'தேவனே , உமக்குக் காத்திருக்கிறவர்களுக்கு நீர் செய்பவைகளை , நீரேயல்லாமல் உலகத்தோற்றம்முதற்கொண்டு ஒருவரும் கேட்டதுமில்லை , செவியால் உணர்ந்ததுமில்லை , அவைகளைக் கண்டதுமில்லை .',
 'நீங்கள் விரும்பினால் இந்த மக்கள் மிகவும் நீங்கள் இன்னும் துக்கம் அனுஷ்டிக்க முடியும் .',
 'நான் பூமியை உண்டுபண்ணி , நானே அதின்மேல் இருக்கிற மனுஷனைச் சிருஷ்டித்தேன்; என் கரங்கள் வானங்களை விரித்தன; அவைகளின் சர்வசேனையையும் நான் கட்டளையிட்டேன் .',
 'மஸார் இ ஷாரீவில் நிறுத்தி வைக்கப்பட்டு இப்பிரிவு முக்கியமாக வடக்கு ஆப்கானிஸ்தானில் தாக்குதல் நடவடிக்கைகளுக்கு பயன்படுத்தப்படும் போரினால் சின்னாபின்னமாக்கப்பட்டிருக்கும் நாட்டின் தென் பகுதிக்கும் இப்படை செல்லக் கூடும் என்பதுடன் நடவடிக்கைக்கு கால வரம்பு ஏதும் கிடையாது .']

In [37]:
save_clean_sentences(en_data3,ta_data3,"clean.unique.en","clean.unique.ta")

In [38]:
len(en_data3)

186451

## Divide and save

In [39]:
en_train=en_data3[0:183451]
ta_train=ta_data3[0:183451]

In [40]:
en_val=en_data3[183451:184451]
ta_val=ta_data3[183451:184451]

In [41]:
en_test=en_data3[184451:]
ta_test=ta_data3[184451:]

In [42]:
save_clean_sentences(en_train,ta_train,"train.en","train.ta")
save_clean_sentences(en_test,ta_test,"test.en","test.ta")
save_clean_sentences(en_val,ta_val,"val.en","val.ta")